/* Hero3 Styles */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap");
.container {
  text-align: center;
  padding: 40px 20px; /* Increased padding */
  background-image: linear-gradient(135deg, #0561b4, #f69d07);
  position: relative;
  overflow: hidden;
  width: 100%;
  /* display: flex;
align-items: center;
justify-content: center; */
}

.heading {
  font-family: "Boldonse", system-ui;
  font-weight: 900;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: normal;
   -webkit-text-stroke: 1px #f69d07;
  letter-spacing: 2px;
  font-size: 4rem; /* Larger font size */
  margin-bottom: 30px; /* Increased margin */
  color: #ffffff; /* Secondary color */
  text-transform: uppercase; /* Uppercase heading */
  letter-spacing: 3px; /* Added letter spacing */
   display: flex;
  justify-content: center;
  gap: 8px;
 
}
.heading span {
  opacity: 0.6;
  transform: translateY(70px);
  animation: fadeInUp 1s forwards;
}

.heading span:nth-child(1) { animation-delay: 0.1s; }
.heading span:nth-child(2) { animation-delay: 0.2s; }
.heading span:nth-child(3) { animation-delay: 0.3s; }
.heading span:nth-child(4) { animation-delay: 0.4s; }
.heading span:nth-child(5) { animation-delay: 0.5s; }
.heading span:nth-child(6) { animation-delay: 0.6s; }
.heading span:nth-child(7) { animation-delay: 0.7s; }
.heading span:nth-child(8) { animation-delay: 0.8s; }

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.subheading {
  font-size: 1.4rem;
  background-color: #000000; /* Slightly darker text color */
  margin-bottom: 20px; /* Increased margin */
  margin-top: -10px;
 color: #ffffff;
  width:auto;
  height: 80px;
  line-height: 3;
  
}

.underline {
  width: 800px;
  height: 5px;
  margin-bottom: -200px;

  background-color: white;
  margin:  auto; /* Center the underline */
 
}

.cardContainer {
  display: grid;

  grid-template-columns: repeat(
    auto-fit,
    minmax(300px, 1fr)
  ); /* Responsive grid */
  gap: 30px; /* Increased gap between cards */
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 60px; /* Increased padding */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .heading {
    font-size: 2rem; /* Slightly smaller font size */
  }

  .subheading {
    font-size: 1rem; /* Slightly smaller font size */
  }

  .cardContainer {
    gap: 20px; /* Reduced gap for smaller screens */
  }
}

@media (max-width: 480px) {
  .heading {
    font-size: 1.8rem; /* Smaller font size for mobile */
  }

  .subheading {
    font-size: 0.9rem; /* Smaller font size for mobile */
  }

  .cardContainer {
    gap: 15px; /* Reduced gap for mobile */
  }
}
